html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
  }
  #logo {
    height: 50px;
    margin-left: 10px;
    float: left;
    padding-top: 20px;
  }
  .header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    line-height: 100px;
    padding: 0 10px;
    z-index: 1000;
    background-color: black;
  }
  .header ul {
    float: right;
    margin: 0;
    padding: 0;
  }
  .header ul li {
    display: inline;
    margin-left: 40px; 
    margin-right: 10px;
  }
  .header ul li a {
    color: seashell;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
  }
  .header ul li a:hover, .header ul li {
    text-decoration: underline;
  }
  #mission {
    background-image: url('img-mission-background.jpg');
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontally aligns content */
    text-align: center;
    color: white;
    position: relative;
    top: 70px;
   
  }
  .text {
    background-color: black;
    width: 100%;
    opacity: 0.9;
    padding: 0;
    text-align: right;
    margin-left: 0;
  }
  #mission h2 {
    color: white;
    font-size: 50px;
    margin: 0 0 0 50px;
    text-align: center;
  }
  #mission h4 {
    color: white;
    font-size: 18px;
    text-align: center;

  }
  #featured-tea {
    width: 60%;
    margin: auto;
    overflow:scroll;
    position: relative;
    top: 70px;
  }
  .tea {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 15px;
  }
  .tea-img {
    width: 300px;
    margin-bottom: 20px;
    text-align: center;
  } 
  .tea-img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
 
  #location {
    background-image: url('img-locations-background.jpg');
    text-align: center;
    height: 500px;
    width: 100%;
    top: 80px;
    position: relative;
    background-size: cover;
    padding: 20px;
  }
  #location h2 {
    margin-bottom: 50px;
  }
  .address_section {
  display: flex;
  justify-content: center;
  gap: 40px;
  }
  .add {
    width: 300px;
    padding: 20px;
    background-color: black;
    margin-bottom: 40px;
  }
  .add p {
    font-size: 16px;
  }
  footer {
  height: 200px;
  position: relative;
  top: 80px;
  }
  #license h5{
    font-size: 16px;
    font-weight: 100;
  }
  .copyright {
   text-align: left;
   color: seashell;
   font-size: 16px;
   margin-left: 20px;
  }
  